<nav>
    <div class="logo">
        <a href="#">Pearls<span>blog</span> </a>
    </div>

    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/details">About</a></li>
        <li><a href="/create">ADD BLOG</a></li>
        
    </ul>
</nav>