<%-include('./partials/header.ejs') %>
<body>
<%-include('./partials/nabvar.ejs')%>
<div class="about">
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam facilis delectus ipsum enim, sit ipsa soluta suscipit ut, iusto nihil nam aliquid, esse porro quae quod voluptas repellendus odio incidunt.</p>
<div class="flex">
<h3>To Join our Team Of Authors: </h3> <a href="/register">Click Here</a>
</div>
</div>
<%-include('./partials/footer.ejs') %>