
<%-include('./partials/header.ejs') %>
<body>
    <header class="header">
    <!-- Navigation -->
<%-include('./partials/nabvar.ejs')%>
<section class="Home">
    <!-- Hero Section-->

</section>
</header>
<%-include('./partials/footer.ejs')%>