
<nav class="nav-bar">
    <div class="nav-hold">
      <div class="nav-logo">
        <a href="#">My Logo</a>
      </div>
      <div class="nav-menu" id="nav">&#9776;</div>
          <ul class="nav-items">
        <li><a href="/">Home</a>
        <li><a href="/blogs">Blogs</a>
        <li><a href="/contact">Contact</a>
        <li><a href="/about">About</a>
      </ul>
    </div>
  </nav>